/* Brand Color */
.brand{
  background: linear-gradient(45deg, #FF5722, #D81B7E, #7C3AED);
}
.brand-text {
  background: linear-gradient(45deg, #FF5722, #D81B7E, #7C3AED);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

/* Google Fonts  */
.plus-jakarta-sans{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}